<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
        
        <init-param>
            <param-name> init parameters </param-name>
            <param-value>value for all its init parameters</param-value>
        </init-param>
        
        <init-param>
            <param-name> ConnectionString </param-name>
            <param-value>jdbc:mysql://localhost:3306/bookstoredb</param-value>
        </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
</web-app>
